* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #0f172a;
  color: #e5e7eb;
}

/* NAVBAR */
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: rgba(2, 6, 23, 0.8);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(56, 189, 248, 0.15);
}

.nav-container {
  max-width: 1200px;
  margin: auto;
  padding: 18px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LOGO */
.logo {
  font-size: 1.6rem;
  font-weight: 700;
  color: #e5e7eb;
}

.logo span {
  color: #38bdf8;
}

/* NAV LINKS */
.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  position: relative;
  text-decoration: none;
  color: #e5e7eb;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background: #38bdf8;
  transition: width 0.3s;
}

.nav-links a:hover {
  color: #38bdf8;
}

.nav-links a:hover::after {
  width: 100%;
}

/* MENU BUTTON */
.menu-btn {
  display: none;
  flex-direction: column;
  gap: 6px;
  background: none;
  border: none;
  cursor: pointer;
}

.menu-btn span {
  width: 26px;
  height: 3px;
  background: #e5e7eb;
  border-radius: 5px;
  transition: 0.3s;
}

/* ANIMATION */
.menu-btn.active span:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}

.menu-btn.active span:nth-child(2) {
  opacity: 0;
}

.menu-btn.active span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .menu-btn {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    right: 8%;
    background: #020617;
    flex-direction: column;
    gap: 20px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    transform: scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;
  }

  .nav-links.open {
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
  }
}


/* HERO SECTION */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 8%;
}

.hero-container {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  align-items: center;
  gap: 50px;
  width: 100%;
}

.hero-text h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero-text h1 span {
  color: #38bdf8;
}

.hero-text h2 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #94a3b8;
  margin-bottom: 20px;
}

.hero-text p {
  max-width: 550px;
  line-height: 1.8;
  font-size: 1.05rem;
  color: #cbd5f5;
}

.hero-buttons {
  margin-top: 30px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

/* HERO IMAGE */
.hero-image {
  display: flex;
  justify-content: center;
}

.hero-image img {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #38bdf8;
  box-shadow: 0 0 40px rgba(56, 189, 248, 0.25);
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .hero-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .hero-text p {
    margin: auto;
  }

  .hero-buttons {
    justify-content: center;
  }

  .hero-image img {
    margin-top: 30px;
  }
}


.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 30px;
  background: #38bdf8;
  color: #020617;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
}

.section h2 {
  font-size: 2.2rem;
  margin-bottom: 20px;
  color: #38bdf8;
  text-align: center;
  margin-top: 5rem;
}

.about-section {
  max-width: 900px;
  margin: auto;
}

.about-text {
  font-size: 1.05rem;
  line-height: 1.7;
  margin-bottom: 18px;
  color: #cbd5f5;
}

.about-buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.btn.outline {
  background: transparent;
  border: 2px solid #38bdf8;
  color: #38bdf8;
}

.btn.outline:hover {
  background: #38bdf8;
  color: #020617;
}

#contact p{
  text-align: center;
}



/* SKILLS */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
}

.skill-card {
  background: #020617;
  padding: 20px;
  border-radius: 12px;
  transition: transform 0.3s;
}

.skill-card:hover {
  transform: translateY(-8px);
}

/* PROJECTS */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.project-card {
  background: #020617;
  padding: 25px;
  border-radius: 14px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 30px rgba(56, 189, 248, 0.2);
}

.project-card a{
  text-decoration: none;
  color: white;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }
}
